
body {
	background-color: #DFDFDF;
}

h1, h2, h3 {
	font-family: Montserrat, "Helvetica Neue", sans-serif;     
    line-height: 1.25;
    margin-bottom: 0.05em;
}

h1 {
	font-weight: 400;
	font-size: 1.75rem;
}

h2 {
	font-weight: 400;
	font-size: 1.4rem;
}

h3 {
	font-weight: 100;
	font-size: 1.2rem;
}

